@import "tailwindcss";


:root {
  --background: #191b24;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
font-family: "Lato", sans-serif;
}
@keyframes scaleIn {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  animation: scaleIn 0.8s ease-out forwards;
}
/* Fade in nền */
@keyframes fadeInBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fade out nền */
@keyframes fadeOutBg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* --------------- */

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 3s infinite;
}

